<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.jeekhan.leyi.dao.ThemeClassMapper" >
  <resultMap id="BaseResultMap" type="me.jeekhan.leyi.model.ThemeClass" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="desc_info" property="descInfo" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_opr" property="updateOpr" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, parent_id, name, keywords, desc_info, update_time, update_opr, enabled
  </sql>
  
  <!--根据主键获取主题 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_theme_class
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!--获取同名同层主题 -->
  <select id="selectByNameAndOpr" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from tb_theme_class
    where name = #{name,jdbcType=VARCHAR} and update_opr=#{oprId,jdbcType=INTEGER} 
    <if test="parentId != null" >
        and parent_id = #{parentId,jdbcType=INTEGER}
    </if>
    <if test="parentId == null" >
        and parent_id is null
    </if>
  </select>
  
  <!--更新主题 状态：0-正常，1-待审核，R-拒绝,D-删除 -->
  <update id="updateEnabledStatus" parameterType="map" >
    update tb_theme_class
    set enabled = #{status,jdbcType=CHAR} 
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 新插入一条主题信息-->
  <insert id="insert" parameterType="me.jeekhan.leyi.model.ThemeClass" keyProperty="id" >
    insert into tb_theme_class (id, parent_id, name, 
      keywords, desc_info, update_time, 
      update_opr, enabled)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{keywords,jdbcType=VARCHAR}, #{descInfo,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateOpr,jdbcType=INTEGER}, #{enabled,jdbcType=CHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="me.jeekhan.leyi.model.ThemeClass" >
    insert into tb_theme_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="descInfo != null" >
        desc_info,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateOpr != null" >
        update_opr,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="descInfo != null" >
        #{descInfo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOpr != null" >
        #{updateOpr,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  <!--根据主键更新主题信息 -->
  <update id="updateByPrimaryKey" parameterType="me.jeekhan.leyi.model.ThemeClass" >
    update tb_theme_class
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="descInfo != null" >
        desc_info = #{descInfo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOpr != null" >
        update_opr = #{updateOpr,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!--获取用户的所有主题，并按照父类归类；其他一般用户只取正常状态的主题，用户自己取非删除的主题 -->
  <select id="selectUserThemes"  parameterType="map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from tb_theme_class t
    where t.enabled in ('0'<if test="isSelf">,'1','R'</if>) and t.update_opr = #{userId,jdbcType=INTEGER}
    order by t.parent_id,t.id desc
  </select>
  
  <!-- 获取指定的直接下属主题；其他一般用户只取正常状态的主题，用户自己取非删除的主题-->
  <select id="selectChildThemes"  parameterType="map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from tb_theme_class
    where enabled in ('0'<if test="isSelf">,'1','R'</if>) and parent_id = #{themeId,jdbcType=INTEGER}
  </select>
  
   <!-- 获取用户的顶层主题；其他一般用户只取正常状态的主题，用户自己取正常与待审核的主题-->
  <select id="selectUserTopThemes"  parameterType="map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from tb_theme_class
    where enabled in ('0'<if test="isSelf">,'1'</if>) and parent_id is null and update_opr = #{userId,jdbcType=INTEGER}
  </select>
  
   <!-- 获取指定主题向上获取层次树--> 
  <select id="selectThemeTreeUp" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from tb_theme_class 
  	where FIND_IN_SET(id,getThemeTreeUp(#{parentId,jdbcType=INTEGER})) order by id 
  </select>
  
  <!-- 统计用户的顶层主题个数，仅包含正常与待审核状态-->
  <select id="countUserTopTheme" parameterType="map" resultType="java.lang.Integer" >
  	select count(1) CNT 
  	from tb_theme_class t 
  	where t.parent_id is null and t.enabled in ('0','1') and t.update_opr = #{userId,jdbcType=INTEGER};
  </select>
  
  <!-- 获取最新待审核的10条主题-->
  <select id="selectThemes4Review" parameterType="map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from tb_theme_class
    where enabled= '1'
    order by update_time desc
  	limit 0,10
  </select>
  <!-- 统计待审核主题数量-->
  <select id="countThemes4Review" resultType="java.lang.Integer" >
  	select count(1) CNT 
  	from tb_theme_class t 
  	where t.enabled = '1' 
  </select>	
  
  
</mapper>

