<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.jeekhan.leyi.dao.UserFullInfoMapper" >
  <resultMap id="BaseResultMap" type="me.jeekhan.leyi.model.UserFullInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="passwd" property="passwd" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="favourite" property="favourite" jdbcType="VARCHAR" />
    <result column="profession" property="profession" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="regist_time" property="registTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="enabled" property="enabled" jdbcType="CHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, username, email, birthday, sex, passwd, city, favourite, profession, introduce, picture, regist_time, 
    update_time, enabled
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_full_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 根据用户名或邮箱获取用户信息-->
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_full_info
    where username = #{userName,jdbcType=VARCHAR} or email = #{userName,jdbcType=VARCHAR}
  </select>
  
  <!--更新用户更 状态：0-正常，1-待审核，R-拒绝,D-删除 -->
  <update id="updateEnabledStatus" parameterType="map" >
    update tb_user_full_info
    set enabled = #{status,jdbcType=CHAR} 
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="insert" parameterType="me.jeekhan.leyi.model.UserFullInfo" >
    insert into tb_user_full_info (id, username, email, 
      birthday, sex, passwd, city, 
      favourite, profession, introduce, 
      regist_time, update_time, enabled, 
      picture)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{sex,jdbcType=CHAR}, #{passwd,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{favourite,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, 
      #{registTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{enabled,jdbcType=CHAR}, 
      #{picture,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="me.jeekhan.leyi.model.UserFullInfo" >
    insert into tb_user_full_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="passwd != null" >
        passwd,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="favourite != null" >
        favourite,
      </if>
      <if test="profession != null" >
        profession,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="registTime != null" >
        regist_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="passwd != null" >
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="favourite != null" >
        #{favourite,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null" >
        #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=CHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="me.jeekhan.leyi.model.UserFullInfo" >
    update tb_user_full_info
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="passwd != null" >
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="favourite != null" >
        favourite = #{favourite,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null" >
        regist_time = #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=CHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="me.jeekhan.leyi.model.UserFullInfo" >
    update tb_user_full_info
    set username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      sex = #{sex,jdbcType=CHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      favourite = #{favourite,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!--随机获取一条可用显示于主页的用户信息 -->
  <select id="selectIndexShowUser" resultMap="BaseResultMap" >
  	select 
  	<include refid="Base_Column_List" />
    from tb_user_full_info
    where indexshow = 'T' order by rand() limit 1
  </select>
  <!-- 获取最新待审核的10条主题-->
  <select id="selectUsers4Review" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_full_info
    where enabled= '1'
    order by update_time desc
  	limit 0,10
  </select>		
  <!-- 统计待审核用户数量-->
  <select id="countUsers4Review" resultType="java.lang.Integer" >
  	select count(1) CNT 
  	from tb_user_full_info t 
  	where t.enabled = '1' 
  </select>		
  		
</mapper>

