<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.jeekhan.leyi.dao.UserBaseInfoMapper" >
  <resultMap id="BaseResultMap" type="me.jeekhan.leyi.model.UserBaseInfo" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="passwd" property="passwd" jdbcType="VARCHAR" />
  </resultMap>
  

  <sql id="Base_Column_List" >
    user_id, username, email, passwd
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_base_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <!-- 根据用户名或邮箱获取用户信息-->
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_base_info
    where username = #{userName,jdbcType=VARCHAR} or email = #{userName,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user_base_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="me.jeekhan.leyi.model.UserBaseInfo" >
    insert into tb_user_base_info (user_id, username, email, 
      passwd)
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{passwd,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="me.jeekhan.leyi.model.UserBaseInfo" >
    update tb_user_base_info
    set username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

</mapper>

