<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.jeekhan.leyi.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="me.jeekhan.leyi.model.User" >
    <id column="recid" property="recid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="passwd" property="passwd" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="CHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    recid, username, passwd, enabled
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="me.jeekhan.leyi.model.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where recid = #{recid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user
    where recid = #{recid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="me.jeekhan.leyi.model.User" >
    insert into tb_user (recid, username, passwd, 
      enabled)
    values (#{recid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR}, 
      #{enabled,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.jeekhan.leyi.model.User" >
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recid != null" >
        recid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="passwd != null" >
        passwd,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recid != null" >
        #{recid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="me.jeekhan.leyi.model.User" >
    update tb_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=CHAR},
      </if>
    </set>
    where recid = #{recid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.jeekhan.leyi.model.User" >
    update tb_user
    set username = #{username,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=CHAR}
    where recid = #{recid,jdbcType=INTEGER}
  </update>
</mapper>